html, body {
    margin: 0;
}

.gallery {
    width: 860px;
    margin: 0 auto;
    text-align: center;
}

.photos {
    position: relative;
    height: 670px;
}

.photos img {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: opacity .7s;
}

.photos img.showed {
    opacity: 1;
}